@page "/portfolio"
@inject HttpClient Http

<h1> Open Source Projects </h1>
<p> This page fetches data from Github.com</p>

@if (items == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Created</th>
				<th>Last Update</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in items)
			{
				<tr>
					<td>
						<a href=@item.HTML_URL>
							@item.Full_Name 
						</a>
					</td>
					<td>@item.Description</td>
					<td>@item.Created_At.ToShortDateString()</td>
					<td>@item.Updated_At.ToShortDateString()</td>
				</tr>
			}
		</tbody>
	</table>
}




@*<u1>
	@foreach (var item in items)
	{
		<li class="slide">@item.Full_Name</li>
	}
</u1>*@

@functions {
	IList<HistoryItem> items;

	protected override async Task OnInitAsync()
	{
		items = await Http.GetJsonAsync<HistoryItem[]>("https://api.github.com/users/jludden/repos");
	}

	class HistoryItem
	{
		public string Full_Name { get; set; }
		public string Description { get; set; }
		public string HTML_URL { get; set; }
		public DateTime Created_At { get; set; }
		public DateTime Updated_At { get; set; }
		public string Language { get; set; }
		public bool Fork { get; set; }
	}
}


<h1> PROJECTS END</h1>